// Imports

@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

// Media queries

// Overrides

// Layout elements

.fillup {
	background: $secondary-color;
}

// spacers

@for $i from 1 through 128 {
    $spacer-height: $i;
    div.spacer-#{$spacer-height} { 
        height: $spacer-height#{px};
        }
}

// PAGES